/* This is the style file for the main index page */

body{
  background-color: white;
}

.Link-container{
  text-align: right;
}

a.Image-link:hover{
  text-decoration: underline;
}

.Image-link{
  margin-top: 15px;
  margin-right: 25px;
  color:black;
  font-family: Arial;
  font-size: 12px;
  text-decoration: none;
}

.logo_pic{
  text-align: center;
  padding: 25px;
  margin-top: 175px;
}

.wrapper{
  position: relative;
  display: flex;
  min-width: 100px;
  margin-left: 37%;
}

.search-icon{
  position: absolute;
  top:6px;
  left: 8px;
  width: 14px;
}

.clear-icon{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  visibility: hidden;
}

.search{
  border: 1px solid grey;
  border-radius: 25px;
  height: 30px;
  width: 150%;
  padding: 2px 23px 2px 30px;
  outline:0;
  text-align: center;
}